{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello, {{ current_user.username }}!</h1>
    </div>
    <a href="{{ url_for('main.chat_room_list') }}" class="btn btn-default" role="button">Go to Chat Room list</a>
    <a href="{{ url_for('main.adduser') }}" class="btn btn-default" role="button">Add a new user</a>
    <a href="{{ url_for('main.listuser') }}" class="btn btn-default" role="button">Go to user list</a>
    <a href="{{ url_for('main.addper') }}" class="btn btn-default" role="button">Add a new permission</a>
</div>
{% endblock %}