

<!DOCTYPE html>
<html>
<head>
    <title>带下雪背景的登录注册页面 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
    <!-- Custom Theme files -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/snow.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <div class="snow-container">
        <div class="snow foreground"></div>
        <div class="snow foreground layered"></div>
        <div class="snow middleground"></div>
        <div class="snow middleground layered"></div>
        <div class="snow background"></div>
        <div class="snow background layered"></div>
    </div>

    <div class="top-buttons-agileinfo">
        <a href="index.html">Sign In</a><a href="signup.html" class="active">Sign Up</a>
    </div>
    <h1>带下雪背景的登录注册页面</h1>
    <div class="main-agileits">
        <!--form-stars-here-->
        <div class="form-w3-agile">
            <h2 class="sub-agileits-w3layouts">注册</h2>
            <form action="#" method="post">
                <input type="text" name="Username" placeholder="Username" required="" />
                <input type="password" name="Password" placeholder="Password" required="" />
                <input type="password" name="Password" placeholder="Confirm Password" required="" />
                <div class="submit-w3l">
                    <input type="submit" value="注册">
                </div>
            </form>
        </div>
    </div>
    <!--//form-ends-here-->
    <!-- copyright -->
    <div class="copyright w3-agile">
        <p> © 2019 带下雪背景的登录注册页面 . All rights reserved | Design by <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a></p>
    </div>
    <!-- //copyright -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

</body>
</html>